@font-face {
  font-family: FontAwesome;
  src: url(FontAwesome.ttf);
}
@font-face {
  font-family: fa-regular-400;
  src: url(fa-regular-400.ttf);
}
@font-face {
  font-family: fa-brands-400;
  src: url(fa-brands-400.ttf);
}
@font-face {
  font-family: fa-solid-900;
  src: url(fa-solid-900.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(OpenSans-SemiBold.ttf);
}


body{
  background: black;
}
input[type="text"] { border: none }
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
div::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
div::-webkit-scrollbar { width: 0 !important }
div { 
  overflow: -moz-scrollbars-none; 
 -ms-overflow-style: none; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black;
  height:100%
}

/* @media only screen and (orientation:landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
} */
  /* .r-lrvibr{
    transition: transform .2s; 
  }
  .r-lrvibr:hover{
    transform: scale(0.95);
  }
  .r-userSelect-lrvibr{
    transition: transform .2s; 
  }
  .r-userSelect-lrvibr:hover{
    transform: scale(0.95);
  } */



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input {
  box-sizing: content-box !important;
  cursor: default !important;
  line-height: 35px !important;
}
.vjs-big-play-button{
  display: none !important;
}
.vjs-modal-dialog-content{
  display: none !important;
}
.vjs-loading-spinner{
  display: none !important;
}
.vjs-error-display{
  display: none !important;
}
.video-dimensions {
  /* width: 100% !important; 
  height: 100% !important; */
  object-fit: fill;
  top: 50%;
  transform: translateY(-50%);
}

/* .player-dimensions {
  width: 100% !important;
  height: 100% !important;
} */
.player1-dimensions {
  width: 100% !important;
  height: 100% !important;
}
.player2-dimensions {
  width: 100% !important;
  height: 100% !important;
}
.player3-dimensions {
  width: 100% !important;
  height: 100% !important;
}
.player4-dimensions {
  width: 100% !important;
  height: 100% !important;
}
.vjs-texttrack-settings {
  display: none;
}
/* .vjs-tech{
  height: 100% !important;; 
  width: 100% !important;;
} */
.vjs-theme-forest:hover .vjs-big-play-button,
.vjs-theme-forest.vjs-big-play-button:focus {
  fill:#000000 !important;
}
.vjs-theme-forest {
  --vjs-theme-forest--primary: #666666 !important;
  --vjs-theme-forest--secondary: #fff;
}
.vjs-theme-forest .vjs-control:not(.vjs-disabled):not(.vjs-time-control):hover {
  text-shadow: none !important;
}
.video-js .vjs-control-bar {
  bottom:50px !important;
}
.vjs-menu li {
  list-style: none;
  margin: 0;
  padding: 0.8em 0 !important;
  line-height: 2.4em !important;
  font-size: 1.8em !important;
  text-align: center;
  text-transform: none !important;
}
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: #666666;
  background-color: rgba(66, 66, 66, 0.7);
  position: absolute;
  width: 150% !important;
  bottom: 1.5em;
  max-height: 15em;
}
div[marqueedelay] {
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: example1 65s linear infinite;
  -webkit-animation: example1 65s linear infinite;
  animation: example1 65s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }